header {
  background-color: #eebb44;
  margin-bottom: 40px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #252525;
}

header h1 {
  line-height: 1;
  margin-bottom: 0;
}

header p {
  margin-top: 0.5em;
}

.card {
  border: 1px solid #E5E5E5;
  margin-bottom: 20px;
}

.card-image {
  width: 100%;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.card-content p {
  margin: 0.5em 0;
}
